<title>Trang Chủ</title>
{% extends 'index.html' %}
{% block content %}


<!-- //market-->
<div class="row">
    <div class="panel-body">
        <div class="col-md-12 w3ls-graph">
            <!--agileinfo-grap-->
                <div class="agileinfo-grap">
                    <div class="agileits-box">
                        <header class="agileits-box-header clearfix">
                            <h3>Doanh Thu DU Lịch Tỉnh Thừa Thiên Huế</h3>
                                <div class="toolbar">
                                    
                                </div>
                        </header>
                        <div class="agileits-box-body clearfix">
                            <div id="hero-area"></div>
                        </div>
                    </div>
                </div>
<!--//agileinfo-grap-->

        </div>
    </div>
</div>
<div class="agil-info-calendar">
<!-- calendar -->

    <!-- tasks -->
  
        <div class="col-md-4 agile-last-left agile-last-middle">
            <div class="agile-last-grid">
                <div class="area-grids-heading">
                    <h3>Số Lượng Khách Du Lịch</h3>
                </div> 
                <div id="graph8"></div>
            </div>
        </div>
    </div>
<!-- //tasks -->
<div class="agileits-w3layouts-stats">
    <div class="clearfix"> </div>
        <div class="source">
            <h5>Số liệu được thu thập từ <a href="https://sdl.thuathienhue.gov.vn/">sdl.thuathienhue.gov.vn</a></h5>
            
        </div>
    </div>
{% endblock %}
