<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="../">
                        <i class="fa fa-home"></i>
                        <span>Trang Chủ</span>
                    </a>
                </li>
                
                <li>
                    <a href="so-lieu">
                        <i class="fa fa-bullhorn"></i>
                        <span>Số Liệu</span>
                    </a>
                </li>

            </ul>            
        </div>
        <!-- sidebar menu end-->
        
    </div>

</aside>

